
:root{
    --navy-blue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --cornflower: #E7E9FC;
    --ocean: #404BBF;
    --cloud:#F4F4FD;
}
 body{
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background: #fff;
    margin: 0;
 }

 address{
    font-style: normal;
 }

 a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

img{display: block;}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.34;
    letter-spacing: 0.03em;
    color: var(--iris);
}





/* -- HEADER --*/
.header-logo-color{
    color: var(--navy-blue);
}

.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
  display: flex;
  align-items: center;

}

.header-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 76px;
    align-items: center;

}

.header-list-item{
    margin-right: 40px;
}

.header-list-item:last-child{
    margin-right: 0;
}

.header-list-item a{
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0px;

    transition-property:color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item a:is(:hover, :focus){
    color: var(--ocean)
}

.header-contacts-list{
    list-style: none;
    display: flex;
    align-items: center;

}

.header-contacts-list-item{
    margin-right: 40px;
}

.header-contacts-list-item:last-child{
    margin: 0;
}

.header-contacts-list-item a{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.page-active::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom:-1px;
    background: var(--ocean);
    border-radius: 2px;
}

.header-contacts-list-item a:is(:hover, :focus){
    color: var(--ocean);
}

.page-active{
    position: relative;
    color: var(--ocean) !important;
}



/* -- /HEADER -- */

/*- HERO -*/
.hero{
    background-color: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0;
    max-width: 1440px;
    margin: auto;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.hero-heading{
    font-size: 56px;
    line-height: 1.07;
    color:#ffffff;
    text-align: center;
    letter-spacing: 0.02em;

    max-width: 496px;

    margin-bottom: 48px;
}


.hero-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color:#fff;
    cursor: pointer;
    background: var(--iris);
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;

    border: none;
    border-radius: 4px;

    height: 56px;
    min-width: 169px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:is(:hover, :focus){
    background: var(--ocean);
}
/*-- /HERO --*/

/*-- FEATURES --*/
.features{
    padding: 120px 0;
}



.features-list{
    list-style: none;
    display: flex;
    gap:24px;  
}
.features-list-item{
    width: calc((100% - 3*24px)/4);
}

.feature-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: var(--cloud);
    margin-bottom: 8px;
    border-radius: 4px;

}

.feature-icon svg{
    height: 64px;
    width: 64px;
}

.features-list-item-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;

    color: var(--navy-blue);
}

.features-list-item-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    width: 264px;
}

/*-- /FEATURES --*/

/*-- ABOUT --*/
.about{
    padding: 0 0 120px  0;
}

.about-heading{
    font-size: 36px;
    line-height: 1.1;
    color: var(--navy-blue);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.about-list{
    list-style: none;

    display: flex;
    gap: 24px;
}

.about-list-item{ 
    width: calc((100% - 2*24px)/3);
}
/* -- /ABOUT --*/

/* -- TEAM -- */
.team{
    background: #F4F4FD;
    display: flex;
    flex-direction: column;

    padding: 120px 0;
}

.team-heading{
    font-size: 36px;
    line-height: 1.1;
    color: var(--navy-blue);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    margin-bottom: 72px;
}

.team-list{
    list-style: none;
    display: flex;
    gap: 24px;

}
.team-list-item{
    background: #fff;
    padding-bottom: 32px;
    width: calc((100% - 3*24px)/4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
}

.team-list-item img{
    margin-bottom: 32px;
}

.team-list-item-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 8px;

}

.team-list-item-role{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
} 

.team-social-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 24px;
}

.team-social-list-item a{
    border-radius: 50%;
    background: var(--iris);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item a:is(:hover, :focus){
    background: var(--ocean);
}

.team-social-list-item svg{
    height: 16px;
    width: 16px;
}
/* -- /TEAM -- */

/* --CUSTOMERS --*/
.customers{
    padding: 130px 0 120px 0;
}

.customers-title{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.12;

    text-align: center;
    letter-spacing: 0.02em;
}
.customers-list{
    list-style:none;
    display: flex;
    flex-direction: row;
    gap:24px;
}

.customers-list-item a{
    width: 168px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item a:is(:hover, :focus){
    border-color: var(--ocean);
}

.customers-list-item-logo{
    height: 45px;
    max-width: 85px;
    fill:#8E8F99;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item a:is(:hover, :focus) .customers-list-item-logo{
    fill: var(--ocean) ;
}


/* --/CUSTOMERS --*/

/*-- FOOTER --*/
.footer-logo-color{
    color: #F4F4FD;
}

.footer{
    background: var(--navy-blue);
    padding: 100px 0px;

}
.footer-container{
    display: flex;
    flex-direction: row;
}
.footer-social{
    margin-left: 120px;
}

.footer-social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.footer-social-list-item{
    height: 40px;
    width: 40px;
}

.footer-social-list-item a{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-item a:is(:hover, :focus){
    background: #31D0AA;
}

.footer-social-list-item-icon{
    height: 24px;
    max-width: 24px;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    color: var(--cornflower);
    letter-spacing: 0.02em;

    margin-top: 16px;

    max-width: 264px;

}

/*-- /FOOTER --*/


/*--- POP-UP ---*/
.pop-up{
    height: 100vh;
    width: 100vw;
    background: rgba(46, 47, 66, 0.4);

    position: fixed;
    top: 0;
    left: 0;

    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}


.pop-up-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-height: 576px;
    width: 408px;
    background: #FCFCFC;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.pop-up-close{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;

    height: 24px;
    width: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    position: absolute;
    top: 24px;
    right: 24px;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-close:is(:hover, :focus){
    background: var(--ocean);
}



.pop-up-close-icon{
    width: 8px;
    height: 8px;

    fill: var(--navy-blue);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-close:is(:hover, :focus) .pop-up-close-icon{
    fill:#ffffff;

}


.pop-up.is-hidden{
    visibility: hidden;
    opacity: 0%;
    pointer-events: none;

}
/*--- /POP-UP ---*/





/*--- Portfolio ---*/

.filters-list{
    list-style: none;

    display: flex;
    gap: 24px;
    margin-bottom: 84px;
}

.filters-list-item button{
    background: var(--cornflower);
    color: var(--iris);
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor:pointer;

    padding: 12px 24px;

    border-radius: 4px;
    border: 1px solid #E7E9FC;

    transition-property: background, color, box-shadow, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list-item button:is(:hover,:focus){
    background: var(--ocean);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color:transparent;
}

.jobs{
    padding: 96px 0 120px 0;
}

.jobs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.jobs-list{
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:48px 24px;
  
}

.jobs-list-item a{
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.jobs-list-item a:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.jobs-list-item-thumb{
    height: 300px;
    overflow: hidden;

}



.jobs-list-item-hidden-text{
    background: var(--iris);
    width: 360px;
    height: 300px;

    transform: translateY(100%);

    padding: 40px 32px 0 32px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.jobs-list-item a:is(:hover, :focus) .jobs-list-item-hidden-text{
    transform: translateY(-100%);

}

.jobs-list-item-hidden-text p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: #F4F4FD;
}





.jobs-list-item-text{
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    background: #fff;

    position: relative;
    z-index: 2;

    padding: 32px 16px;
}



.jobs-list-item-text  h2{
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    letter-spacing: 0.02em;
    margin-bottom: 8px;


}

.jobs-list-item-text  p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}